@import '../sass/main.scss';

.Hero {
  display: flex;
  flex-flow: column;
  z-index: 8;
  position: relative;

  @include media-breakpoint-up(lg) {
    flex-flow: row;
  }
}

.HeroLeft {
  @include media-breakpoint-up(lg) {
    flex: 0 1 65%;
    width: 65%;
  }

  @include media-breakpoint-up(xxl) {
    flex: 0 1 60%;
    width: 60%;
  }
}

.HeroRight {
  margin-top: -68px;
  padding: 80px 32px;

  @include media-breakpoint-up(md) {
    margin-top: -75px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
    padding: 0;
    flex: 1;
    height: 500px;
  }

  @include media-breakpoint-up(xxl) {
    height: 600px;
  }
}