@import '../sass/main.scss';

.Nav {
  display: flex;
  flex-flow: column;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 10;
}

.NavBar {
  display: flex;
  padding: 40px 32px;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.NavBarActive {
  background-color: $color-white;
}

.Menu {
  flex: 0 1 30%;
}

svg.HamburgerMenu {
  path {
    fill: white;
  }
}

.NavList {
  display: flex;
  justify-content: space-between;
  flex: 0 1 70%;

  li {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 14px;
  }
}

.Overlay {
  content: "";
  height: calc(100vh - 96px);
  background-color: rgba($black, 0.80);

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.NavDesktop {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    padding: 40px;
  }

  .Logo {
    height: 16px;
    width: 64px;
    margin-right: 80px;
    cursor: pointer;
  }
}

.NavListDesktop {
  display: flex;

  li {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: $color-white;
    cursor: pointer;
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-out;

    &:not(:last-child) {
      margin-right: 32px;
    }

    &:hover {
      border-bottom: 2px solid white;
    }

    @include media-breakpoint-up(xl) {
      font-size: 16px;
    }
  }
}